<div class="container" id="table-container">
  <table class="table">
    <tbody>


    </tbody>
    <thead class="thead-inverse" id="tablehead">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Tweet</th>
      <th>Sentimental Analysis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>23-09-2017</td>
      <td>Hello how are you?</td>
      <td class="bad">Bad</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>20-09-2017</td>
      <td>Hello world ajldkjkd aljdalkjd alkdj alkdj alja da</td>
      <td class="good">Good</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>10-09-2017</td>
      <td>Hello boy ajldkjkd aljdalkjd alkdj alkdj alja da</td>
      <td class="neutral">Neutral</td>
    </tr>
    </tbody>
  </table>
</div>
