<!-- Add this css in head tag -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">


<!-- Here is the section -->

<section id="counter" class="counter">
  <div class="main_counter_area">
    <div class="overlay p-y-3">
      <div class="container">
        <div class="row">
          <div class="main_counter_content text-center white-text wow fadeInUp">
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-smile-o m-b-1"></i>
                <h2 class="statistic-counter">{{ getNumberOfTweets(1) }}</h2>
                <p>Positive tweets</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-meh-o m-b-1"></i>
                <h2 class="statistic-counter">{{ getNumberOfTweets(0) }}</h2>
                <p>Neutral tweets</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-frown-o m-b-1"></i>
                <h2 class="statistic-counter">{{ getNumberOfTweets(-1) }}</h2>
                <p>Negative  tweets</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="single_counter p-y-2 m-t-1">
                <i class="fa fa-comment-o m-b-1"></i>
                <h2 class="statistic-counter">{{ getNumberOfAllTweets() }}</h2>
                <p>All</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End of counter Section -->


<!-- Add this script before </body> -->


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
